.pagenation{
	list-style: none;
	padding: 0;
	margin: 50px auto 0;
	width: 600px;
	height: 40px;
	border: 1px solid #000;
	font-size: 0;
	text-align: center;
}

.pagenation li{
	display: inline-block;
	height: 26px;
	font-size: 12px;
	font-family: 'Microsoft Yahei';
	margin:7px 4px 0;
}

.pagenation li a{
	display: block;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
	background-color: gold;
	text-decoration: none;
	color: #000;
}

.pagenation li a:hover{
	color: #1e77e6;
}