{% extends 'base.html' %}
{% block title %}文章列表{% endblock %}
{% block nav_blog_active %}active{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="card">
                    <div class="card-header">
                        {% block article_list_title %}博客列表（一共有{{ articles_of_page.paginator.count }}篇文章）{% endblock %}

                    </div>
                    <div class="card-body">
                        {% for article in articles_of_page %}
                            <h5 class="card-title"><a href="{% url 'blog:article' article.pk %}">{{ article.title }}</a>
                            </h5>
                            <p class="card-text">{{ article.created_time|date:'Y-m-d' }}
                            View:{{ article.views }}</p>
                        {% empty %}
                            <h4>暂无文章，敬请等待</h4>
                        {% endfor %}
                    </div>
                    <ul class="pagination justify-content-center">
                        {% if articles_of_page.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ articles_of_page.previous_page_number }}"
                                   tabindex="-1" aria-disabled="true">Prev</a>
                            </li>
                        {% endif %}

                        {% for i in page_range %}
                            {% if i == articles_of_page.number %}
                                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if articles_of_page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ articles_of_page.next_page_number }}"
                                   aria-label="Next">Next
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                <div class="card">
                    <div class="card-header">文章分类</div>
                    <div class="card-body">
                        {% for category in categorys %}
                            <h6><a href="{% url 'blog:category_detail' category.pk %}">{{ category.name }}</a></h6>
                        {% empty %}
                            <h6>{{ '暂无分类' }}</h6>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">日期归档</div>
                    <div class="card-body">
                        {% for sortbydate in article_by_dates %}
                            <h6><a href="{% url 'blog:sortbydate' sortbydate.year sortbydate.month %}">
                                {{ sortbydate| date:'Y年m月' }}</a></h6>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}