{% extends 'base.html' %}
{% block title %}我的网站|主页{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
<div class="body-main" align="center"><h1>网站建设中</h1></div>
{% endblock %}


{% block footer_copyright %}
<footer>
        <div class="footer-copyright">Copyright © 2019
            <a class="site-link" href="http://wrz8.com" title="WRZ8" rel="home">王儒增的博客</a>
            <a href="http://www.beian.miit.gov.cn/" rel="external nofollow" target="_blank">鲁ICP备19025740号-1</a>
            <br/>Powered By <a href="https://www.djangoproject.com/" target="_blank">Django</a> and <a href="https://www.bootcss.com/" target="_blank">Bootstrap</a>
        </div>
</footer>
{% endblock footer_copyright %}