{% extends 'base.html' %}
{% block title %}我的网站|主页{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block head_file %}
<style type="text/css">
    .footer-copyright{ padding-top:7rem; color:#555; font-size:13px; }
    .footer-copyright a{
        color: #555;
    }
</style>
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">网站建设中</h1>
        <p class="lead">这是一个简单的博客网站</p>
        <hr class="my-4">
        <p>It uses  Django and Bootstrap.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'blog:list' %}" role="button">Learn more</a>
    </div>
{% endblock %}
{% block footer_copyright %}
<footer>
        <div class="footer-copyright" align="center">Copyright © 2019
            <a class="site-link" href="http://wrz8.com" title="WRZ8" rel="home">WRZ的博客</a>
            <a href="http://www.beian.miit.gov.cn/" rel="external nofollow" target="_blank">鲁ICP备19025740号-1</a>
            <br/>Powered By <a href="https://www.djangoproject.com/" target="_blank">Django</a> and <a href="https://www.bootcss.com/" target="_blank">Bootstrap</a>
        </div>
</footer>
{% endblock footer_copyright %}